<div class="row">
 
<p>
 <strong>ユーザ名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>ユーザEmail:</strong>
  <%= @user.email %>
</p>

<p>
<strong>フォロアー一覧:</strong>
<% @user.followers.each do |user| %>
<%= user.name %>
<%= link_to '詳細', user_path(user) %>
<% end %>
</p>

<p>
<strong>フォロ一中ユーザ一覧:</strong>
<% @user.followed_users.each do |user| %>
<%= user.name %> </td>
<%= link_to '詳細', user_path(user) %>
<% end %>
</p>

<p>
<%= link_to 'Back', users_path %>
</p>


</div>